/*index.handlebars styling*/

	#jumbohead{
		background-color: #072f26;
		height: 15%;
		border-bottom: solid #8dc8b4 10px;
	}
	#jumbohead, #minijumbohead h1 {
		color: white;
	}

	.bracket {
		color: #8dc8b4;
		padding: 2px;
	}

	.formlabels {
		color: #8dc8b4;
	}

	#bottomgroup {
		padding-bottom: 0px;
		margin-bottom: 0px;
	}

	#signInButton, #signUpButton {
		background-color: #4b907b;
		border: #4b907b;
		font-weight: bold;
		color: white;
		text-align: center;
	}

	#signInButton:hover {
		background-color: #c7ddda;
		border: #c7ddda;
		font-weight: bold;
		color: #072f26;
		text-align: center;
	}

	#signUpButton:hover {
		background-color: #072f26;
		border: #072f26;
		font-weight: bold;
		color: white;
		text-align: center;
	}

	form label {
		color: white;
	}

	h3 {
		text-align: left;
	}

	.reIcon {
		height: 100%%;
		width: 100%;
	}

	.aboutRow {
		padding-top: 25px;
	}

	.description {
		display: inline;
		margin: 0 auto;
	}

	#firstName {
		width: 49%;
		float: left;
	}

	#lastName {
		width: 49%;
		float: right;
	}

	#emailAddress {
		clear: both;
	}

/*end index.handlebars styling*/

/*----------------------------*/

/*start styling for survey*/

form h1 {
	text-align: center;
}
#compatsurvey {
	margin-top: 100px;
}

#toprow {
	margin: 5px;
	margin-bottom: 20px;
}
#aboutbox {
	border: 1px black dashed;
	padding: 10px; 
	margin-left: 15px;
}
.sectionBlock {
	border: #c7ddda 1px solid;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 5px;
	background-color: #c7ddda;
}

#surveysubmitbtn {
	margin: 5px;
	background-color: #4b907b;
	border: #4b907b;
}

.index-prop-img img {

  background-color: transparent;
  width: auto;
  -webkit-filter: drop-shadow(12px 12px 0 rgba(0, 0, 0, 0.2)) drop-shadow(-20px 16px rgba(0,
    0, 0, 0.1));
  filter: drop-shadow(12px 12px 0 rgba(0, 0, 0, 0.2)) drop-shadow(-20px 16px rgba(0,
    0, 0, 0.1));
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out; }
  @media (max-width: 992px) {
    .index-prop-img img {
      height: 220px;   }
}
    @media (max-width: 767px) {
      .index-prop-img img {
        height: 155px;
        padding-top: 30px;
        padding-left: 50px;
        filter: none;
        -webkit-filter: none;   }
}
      .index-prop-img img:hover, .index-prop-img img:focus {
        transform: translate(0, -5px);
        -webkit-filter: drop-shadow(14px 15px 0px rgba(0, 0, 0, 0.12)) drop-shadow(-23px 19px rgba(0,
                0, 0, 0.1));
        filter: drop-shadow(14px 15px 0px rgba(0, 0, 0, 0.12)) drop-shadow(-23px 19px rgba(0,
                0, 0, 0.1));
        transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out; }
        .index-prop-img img:active {
          transform: translate(0, 10px);
          -webkit-filter: drop-shadow(8px 2px 0px rgba(0, 0, 0, 0.2)) drop-shadow(-2px 6px rgba(0,
                    0, 0, 0.1));
          filter: drop-shadow(8px 2px 0px rgba(0, 0, 0, 0.2)) drop-shadow(-2px 6px rgba(0,
                    0, 0, 0.1));
          transition: all 0.1s ease-out;
          -webkit-transition: all 0.1s ease-out; }

/*end styling for survey*/
/*----------------------------*/

/*start results.handlebars styling*/

#minijumbohead {
	background-color: #072f26;
	border-bottom: solid #8dc8b4 10px;
	height: 90px;
	position:relative;
}

#minijumbohead h1 {
	line-height: 37px;
}

.welcome {
	line-height: 30px;
	color: white;
	text-align: right;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#userpic {
	height: 80px;
	position: absolute;
    margin:auto;
}

#conbody {
	margin-top: 100px;
}

.header1text {
	color: #072f26;
	padding-bottom: 10px;
}

.profpic {
	width: 100%;
	line-height: 2px;
}

.row.match {
	padding-bottom: 10px;
	padding-top: 10px;
	border: #8dc8b4 2px solid;
	margin-bottom: 20px;
	position: relative;
	height: 25%;
	background-color: #c7ddda;
}

.row.match:hover {
	background-color: #c7ddda;
	border: solid 5px #1d4f44;
}

.compatrate {
	position: absolute;
	left: -2px;
	top: -2px;
	padding: 10px;
	margin: 2px;
	background-color: #1d4f44;
	color: #c7ddda;
	z-index: 2;
	justify-content: center;
	align-items: center;
}

.compatrate h3 {
	margin: 0 auto;
}
/*end results.handlebars styling*/

/*----------------------------*/